<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<bean id="feedConsumer" class="com.ofd.kafka.consumer.KafkaConsumerTemplate" destroy-method="shutdown">
		<property name="topic" value="feed"/>
		<property name="consumerConnector" ref="feedConsumerConnectorService" />
		<property name="consumeFactory" ref="feedConsumeFactory" />
	</bean>
	
	<bean id="feedConsumeFactory" class="com.ofd.kafka.model.TopicConsumeFactory"/>
			
	<bean id="feedConsumerConnectorService" class="kafka.consumer.Consumer"  factory-method="createJavaConsumerConnector" >
		<constructor-arg ref="feedConsumerConfig"/>
	</bean>
	
	<bean id="feedConsumerConfig" class="kafka.consumer.ConsumerConfig">
		<constructor-arg>
			<props>
				<prop key="zookeeper.connect">10.32.14.20:2181,10.32.14.21:2181,10.32.14.22:2181</prop>
			     <prop key="group.id">group1</prop>
			     <prop key="zookeeper.session.timeout.ms">400</prop>
			     <prop key="zookeeper.sync.time.ms">200</prop>
			     <!-- <prop key="auto.commit.enable">false</prop> -->
			     <prop key="auto.commit.interval.ms">1000</prop>
			     
			</props>
		</constructor-arg>
	</bean>
	
  
  
</beans>